# Carpetas y contenido
obj/*
Release/obj/*
Debug/obj/*
cmake-build-debug/*
_linux/*
codestyles/*

# Carpetas ocultas
.idea/*

# Extensiones
*.xml

# Ejecutables
cyborgeddon

# Archivos específicos
CMakeLists.txt