# Carpetas y contenido
obj/
cmake-build-debug/
_linux/
codestyles/
include/

# Carpetas ocultas
.idea/
.vscode/

# Extensiones
*.xml

# Ejecutables
cyborgeddon

# Archivos específicos
resources/videos/tutorial/1_F.mp4
resources/videos/cinematica/1_F.mp4
resources/videos/cinematica/2_F.mp4
